# Telegram Bot Token (from @BotFather) — برای اعتبارسنجی initData
TELEGRAM_BOT_TOKEN=8722889721:AAGCXW94kmQ67TzvX4ItU1IGN4RFmppdWRg

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://rukfqsgdwoirkigcmxtr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_one7HMPtBhd1MicDtQeDEw_OkGZhnOS
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1a2Zxc2dkd29pcmtpZ2NteHRyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU0ODI0NCwiZXhwIjoyMTA1MTI0MjQ0fQ.EiOc-y50MuR6jNFBXp0v3sQGKY6iaHuRKsT62bYS3Xw
